<html>

<head>
    <title>Login with Linkedin in nodejs application | JSON World</title>
</head>

<body>
    <% if (!user) { %>
    <div>
        <h2 style="font-size:40px;">Please log in.</h2>
        <a href="/auth/linkedin"><img src="login-with-linkedin.png" width="171" height="34"></a>
    </div>
    <% } else { %>

    <div>
        <h2>Hello, <%= user.name %>.</h2>
        <p>
            <a style="padding-right:10px;" href="/">Home</a> |
            <a style="padding-right:10px;" href="/logout">Log Out</a>
        </p>

        <h3>My Profile</h3>
        <p>ID: <%= user.id %></p>
        <p>Email: <%= user.email %></p>
        <p>Name :<%= user.name %></p>

    </div>

    <% } %>
</body>

</html>